@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-text-rgb: 0, 0, 0;
	--color-border: rgba(0, 0, 0, .06);
	--color-background-rgb: 248, 250, 252;

	--height-navbar: 64px;
	--height-screen: calc(100vh - var(--height-navbar));
	--z-index-navbar: 40;
	--z-index-notification: 30;
	--z-index-light: 30;
	--bg-noise: url('/images/noise.png') repeat;
}

[class="dark"] {
	--color-text-rgb: 255, 255, 255;
	--color-border: rgba(255, 255, 255, .1);
	--color-background-rgb: 2, 6, 23;
}

html {
	min-height: 100vh;
	font-size: 16px;
	background: linear-gradient(90deg, theme('colors.default-50') 15px, transparent 1%) 50%, linear-gradient(theme('colors.default-50') 15px, theme('colors.default-200') 1%) 0, hsla(0deg, 0%, 100%, 16%);
	background-size: 16px 16px;

	[class="light"] & {
		background: linear-gradient(90deg, theme('colors.default-100') 15px, transparent 1%) 50%, linear-gradient(theme('colors.default-100') 15px, theme('colors.default-300') 1%) 0, hsla(0deg, 0%, 100%, 16%);
		background-size: 16px 16px;
	}

	@media (max-width: theme('screens.sm')) {
		font-size: 14px;
	}
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	@apply bg-default-100;
}

::-webkit-scrollbar-thumb {
	@apply bg-default-300;

	&:hover {
		@apply bg-default-600;
	}
}