@import '@/app/styles/utils';

.content {
	@apply py-6 px-8 rounded-xl mt-10 mb-10 sm:mb-20 sm:flex text-center justify-between text-default-500 relative border border-default-300/15 hover:border-default-300/30 transition-colors;

	@include background(1, false, 24px);

	&::before {
		content: "";
		display: block;
		left: 0;
		width: 100%;
		background: linear-gradient(90deg, rgba(56, 189, 248, 0), rgba(144, 163, 187, .15) 30%, rgba(144, 163, 187, 0.15) 70%, rgba(236, 72, 153, 0));
		height: 1px;
		position: absolute;
		top: -1px;
	}
}