.light {
  position: fixed;
  z-index: theme('zIndex.light');

  overflow: hidden;
  inset: 0;
  pointer-events: none;
}

.fadeIn {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
