.logo {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;

  transition: transform 0.15s ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  @media (max-width: theme('screens.sm')) {
    width: 38px;
    height: 38px;
  }
}
