/* CSS for handling the copied state and animation */
button[data-copied="true"] .group-data-[copied=true] {
	opacity: 1;
	scale: 1;
	transition: transform 0.3s, opacity 0.3s;
}

button[data-copied="true"] .group-data-[copied=true]:not(.group-data-[copied=true]) {
	opacity: 0;
	scale: 0.5;
	transition: transform 0.3s, opacity 0.3s;
}