@use '@/shared/styles/mixin' as *;

.footer {
  @apply text-sm py-6 px-8 mt-16 transition-colors;

  position: relative;
  background-color: theme('colors.default-50');

  background-image: theme('backgroundImage.noise');
  background-repeat: repeat;
  border-color: theme('colors.default-300/0.15');
  border-style: solid;

  border-width: 1px 0 0;

  &:hover {
    border-color: theme('colors.default-300/0.3');
  }

  [class="light"] & {
    border-color: theme('colors.default-200');
  }

  &::before {
    @include gradient-line-before('top');
  }
}
