.showWrapper {
	position: relative;
}

.gradient {
	@apply absolute pointer-events-none w-full -top-32 h-32 bg-gradient-to-t from-default-100;
}

.showButton {
	@apply bg-default-100 text-default-600 py-2 px-3 w-full text-left data-[pressed=true]:scale-100;

	&:hover {
		@apply bg-default-200;
	}
}

.showButton:hover .gradient {
	background: red !important;
	background-color: red !important;
	@apply from-default-200;
}