.wrapper {
	position: relative;
	height: 0px;
	width: 80%;
	margin: 0 auto;

	[class="light"] & {
		display: none;
	}
}

.video {
	position: absolute;
	width: 100%;
	height: 0px;
	overflow: visible;
	object-fit: cover;
	mix-blend-mode: lighten;
	transition: all .5s ease;
	animation: fadeInBlackhole 1s ease-out forwards;
}

@keyframes fadeInBlackhole {
	from {
		opacity: 0;
		transform: scale(.1);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.circles {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: var(--z-index-blackhole);
	width: 808px;
	height: 808px;
	transform: translateZ(0) translate(-50%, -50%);

	@media (max-width: theme('screens.md')) {
		display: none;
	}

	&>div {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		opacity: .3;
		mask-image: linear-gradient(180deg, rgb(186, 156, 255, 60%) 9.41%, rgb(186, 156, 255, 0%) 29.79%);
		transform: translateZ(0) translate(-50%, -50%);

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			pointer-events: none;
			content: "";
			background: rgb(186, 156, 255, 4%);
			border: 1px solid rgb(186, 156, 255, 30%);
			border-radius: 50%;
		}

		&:nth-child(2) {
			width: 608px;
			height: 608px;
			opacity: .6;
		}

		&:nth-child(3) {
			z-index: 1;
			width: 416px;
			height: 416px;
			opacity: 1;
		}
	}
}

.flip {
	transform: rotate(180deg);
}