@import '@/app/styles/utils';

.wrapper {
	position: sticky;
	top: 0;
	z-index: var(--z-index-navbar);
	width: 100%;
	height: var(--height-navbar);
	border-bottom: 1px solid var(--color-border);

	@include background(.1, false, 24px);
	@apply border-b-1 border-default-300/10;

	&::before {
		content: "";
		display: block;
		left: 0;
		width: 100%;
		background: linear-gradient(90deg, rgba(56, 189, 248, 0) 20%, rgba(144, 163, 187, 0.2) 50%, rgba(236, 72, 153, 0) 80%);
		height: 1px;
		position: absolute;
		bottom: -1px;
	}
}

// .wrapperMainPage {
// 	height: 90px;

// 	&>* {
// 		@apply mx-auto px-4 sm:px-6 md:px-8 flex items-center h-full;
// 	}
// }

// .wrapperBase {
// 	height: var(--height-navbar);
// 	border-bottom: 1px solid var(--color-border);

// 	@include background(.15, false, 24px);
// 	@apply border-b-1 border-default-900/10;

// 	&>* {
// 		@apply max-w-8xl mx-auto px-4 sm:px-6 md:px-8 flex items-center h-full;
// 	}
// }