.container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.inner {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  transform: translateY(-50%) translateZ(60px) scale(0.94);
  box-sizing: border-box;
  perspective: inherit;

  &>img {
    width: 100px;
    height: 100px;
  }

  &>div {
    display: flex;
    position: relative;
    width: 100%;
  }
}

.front {
  // &::before {
  //   position: absolute;
  //   inset: 0 0 -30px;
  //   width: 110px;
  //   height: 110px;
  //   margin: auto;
  //   content: '';
  //   background: rgb(231, 212, 255, 15%);
  //   filter: blur(30px);
  //   border-radius: 100px;
  // }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px 20px;

    overflow: hidden;

    h1 {
      width: 100%;

      font-weight: 500;
      line-height: 22px;
      text-align: center;

      color: #FFF;

      @apply text-lg;
    }
  }
}

.front,
.back {
  height: 160px;

  background: theme('backgroundImage.noise') repeat, #020014;

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;

  @apply rounded-md;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .inner {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: auto;
    padding: 20px;

    h1 {
      width: 100%;

      font-weight: 500;
      line-height: 22px;
      text-align: center;

      @apply text-lg;
    }

    p {
      text-align: center;

      color: #FFF;

      @apply text-sm;
    }
  }
}

.card {
  transition: transform .4s ease;
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;

  .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }

  .front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  &:hover {
    transform: scale(1.2);

    .back {
      transform: rotateY(0deg);
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transform-style: preserve-3d
    }

    .front {
      transform: rotateY(-180deg);
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transform-style: preserve-3d
    }
  }
}

.refresh {
  position: absolute;
  top: 0;
  right: 0;

  opacity: .15;
}