@mixin background($opacity: 1,
  $border: true, $blur: 16px) {
  @if $border {
    $border: 1px solid var(--color-border);
  }

  background: var(--bg-noise),
  rgb(var(--color-background-rgb), $opacity);
  border: $border;
  backdrop-filter: blur($blur);
}