.wrapper {
  background: radial-gradient(var(--spotlight-line-size) circle at var(--mouse-x) var(--mouse-y),
      theme('colors.primary-600') 0%,
      rgb(0 0 0 / 0%) 100%, transparent 40%);
  
  [class="light"] & {
    background: radial-gradient(var(--spotlight-line-size) circle at var(--mouse-x) var(--mouse-y),
        theme('colors.primary-300') 0%,
        rgb(0 0 0 / 0%) 100%, transparent 40%);
  }

  @media (max-width: theme('screens.md')) {
    display: none;
  }
}