html {
  font-size: 16px;

  background: linear-gradient(90deg, theme('colors.default-50') 15px, transparent 1%) 50%, linear-gradient(theme('colors.default-50') 15px, theme('colors.default-200') 1%) 0, hsl(0deg 0% 100% / 16%);
  background-size: 16px 16px;

  @media (max-width: theme('screens.sm')) {
    font-size: 15px;
  }
}

body {
  min-height: 100vh;

  [class="light"] & {
    background: linear-gradient(90deg, theme('colors.default-100') 15px, transparent 1%) 50%, linear-gradient(theme('colors.default-100') 15px, theme('colors.default-300') 1%) 0, hsl(0deg 0% 100% / 16%);
    background-size: 16px 16px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.default-100');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.default-300');
  border-radius: 3px;

  [class="light"] & {
    background: theme('colors.default-400');
  }

  &:hover {
    background: theme('colors.default-600');
  }
}