@use '@/shared/styles/keyframes' as *;

.wrapper {
  gap: 8px;
  width: 100%;
  padding: 20px;

  @media (width >= 1180px) {
    animation: $header-section-animation;
  }

  @media (width <= 1179px) {
    gap: 0;
    margin-top: 16px;
    padding: 0;
  }
}

.links {
  margin-top: 20px;

  @media (width <= 1179px) {
    display: grid;
    gap: 8px;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  }

  @media (width <= 767px) {
    grid-template-columns: 100%;
  }
}

.link {
  justify-content: start;
  gap: .5rem;
  padding-left: 8px;

  $root: &;

  // startContent
  & > svg {
    width: 20px;
    margin-bottom: 15px;
  }

  &:hover {
    background: theme('colors.default-400/0.15');
  }

  &Title {
    transition: 0.15s ease all;
    #{$root}:hover & {
      color: theme('colors.primary-500');
    }
  }

  &Description {
    @media (width <= 767px) {
      display: none;
    }
  }

  &External {
    position: absolute;
    top: 7px;
    right: 4px;

    color: theme('colors.default-300');

    transition: 0.2s ease all;

    #{$root}:hover & {
      color: theme('colors.primary-500');
    }
  }
}

.socials {
  margin-top: 18px;

  @media (width <= 1179px) {
    display: none;
  }
}

.services {
  display: grid;
  align-items: flex-start;
  grid-gap: 8px;
  grid-template-columns: 220px 220px;

  @media (width <= 1179px) {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  }

  @media (width <= 767px) {
    margin-top: 16px;
    grid-template-columns: 100%;
  }
}

@mixin service($color, $bg) {
  background: url('/images/header/#{$bg}'), theme('colors.#{$color}');
  border: 1.5px solid theme('colors.#{$color}-600');

  transition: all 0.2s ease-in-out;
  background-position: right bottom;
  background-repeat: no-repeat;

  &:hover {
    background: url('/images/header/#{$bg}'), theme('colors.#{$color}/0.4');

    transform: scale(1.02);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}

.service {
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 12px;

  border-radius: 8px;
  background-position: bottom right;
  background-repeat: no-repeat;

  $root: &;

  &.youtube {
    @include service('danger', '1.png');
  }

  &.instagram {
    @include service('warning', '4.svg');
  }

  @media (width <= 767px) {
    min-height: 100px;
  }

  &Arrow {
    opacity: 0.5;

    transition: 0.2s ease all;

    #{$root}:hover & {
      opacity: 1;
    }
  }

  &Description {
    color: theme('colors.default-950/0.6');
  }
}

.blockquote {
  grid-column: 1 / 3;
}
