@import '@/app/styles/utils';

.wrapper {
	position: fixed;
	top: calc(var(--height-navbar) + 10px);
	left: 50%;
	z-index: var(--z-index-notification);
	display: flex;
	flex-direction: column;
}

.message {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	max-width: 1320px;
	padding: 15px 20px;
	margin-bottom: 10px;
	overflow: hidden;
	user-select: none;
	backdrop-filter: var(--blur-md);
	border: solid 1px var(--color-border);
	transform: translateX(-50%);
	animation: fadeInFromTop .3s ease-out forwards;

	@include background(.3);
	@apply rounded-md text-sm cursor-pointer;

	[class="light"] & {
		@include background(1);

		backdrop-filter: none;
	}

	@media (max-width: theme('screens.md')) {
		@include background(1);
	}

	@media (max-width: theme('screens.sm')) {
		width: calc(100% - 10px * 2);
	}

	button {
		min-width: 37px;
		height: 37px;
	}
}

.content {
	display: flex;
	gap: 10px;
	align-items: center;
}

.startContent {
	max-width: 24px;
	max-height: 24px;
}

.cancel {
	@apply text-sm;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	&>div>div {
		animation: progress var(--animation-duration-notification) linear forwards;
	}
}

@keyframes progress {
	0% {
		transform: translateX(0%);
	}

	100% {
		background-color: theme('colors.danger');
		transform: translateX(-100%);
	}
}

.bottom {
	bottom: var(--position-bottom);
	animation: fadeInFromBottom .3s ease-out forwards;
}

@keyframes fadeInFromTop {
	0% {
		margin-top: -50%;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

.closing {
	animation: fadeOutFromTop var(--animation-close-duration-notification) ease-in forwards;
}

@keyframes fadeOutFromTop {
	0% {
		margin-top: 0;
		opacity: 1;
	}

	100% {
		margin-top: -50%;
		opacity: 0;
	}
}