.light {
	overflow: hidden;
	pointer-events: none;
}

.ellipse1,
.ellipse2,
.ellipse3 {
	// * Light ellipse
	--light-color-ellipse-1: rgb(90, 186, 255, 10%);
	--light-blur-ellipse-1: blur(300px);
	--light-color-ellipse-2: rgb(255, 90, 209, 10%);
	--light-blur-ellipse-2: blur(400px);
	--light-color-ellipse-3: rgb(255, 90, 209, 10%);
	--light-blur-ellipse-3: blur(200px);

	z-index: var(--z-index-light);
	transition: all 1s ease;
}

.ellipse1 {
	position: absolute;
	top: 3.61vh;
	left: -22.66vw;
	width: 45.36vw;
	height: 80.65vh;
	background: var(--light-color-ellipse-1);
	filter: var(--light-blur-ellipse-1);
}

.ellipse2 {
	position: absolute;
	top: 46.30vh;
	right: 0;
	width: 38.13vw;
	height: 67.78vh;
	background: var(--light-color-ellipse-2);
	filter: var(--light-blur-ellipse-2);
}

.ellipse3 {
	position: absolute;
	top: -17.69vh;
	left: 15.47vw;
	width: 25.10vw;
	height: 44.63vh;
	background: var(--light-color-ellipse-3);
	filter: var(--light-blur-ellipse-3);
}