@mixin service($color, $bg) {
  border: 1.5px solid theme('colors.#{$color}-600');

  transition: all 0.2s ease-in-out;
  background-color: theme('colors.#{$color}');
  background-image: url('/images/header/#{$bg}');
  background-position: right bottom;
  background-repeat: no-repeat;

  [class="light"] & {
    border: 2.5px solid theme('colors.#{$color}-100');
  }

  &:hover {
    transform: scale(1.02);
    
    [class="dark"] & {
      background-color: theme('colors.#{$color}/0.4');
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 12px;

  color: theme('colors.default-950');

  border-radius: 8px;
  background-position: bottom right;
  background-repeat: no-repeat;

  $root: &;

  [class="light"] & {
    color: theme('colors.default-50');
  }

  &.youtube {
    @include service('danger', '1.png');
  }

  &.instagram {
    @include service('warning', '4.svg');
  }

  &Arrow {
    opacity: 0.5;

    transition: 0.2s ease all;

    #{$root}:hover & {
      opacity: 1;
    }
  }

  &Description {
    opacity: 0.6;
  }
}
