.wrapper {
  gap: 8px;
  width: 704px; // Зависит от ширины в headerSections. Они должны быть одинаковые
  padding: 20px;
}

.links {
  margin-top: 20px;
}

.socials {
  margin-top: 18px;
}

.services {
  display: grid;
  align-items: flex-start;
  grid-gap: 8px;
  grid-template-columns: 220px 220px;
}
