.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 8px;
  padding: 12px 16px;

  backdrop-filter: blur(theme('backdropBlur.xl'));
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;

  border-radius: 50%;
}

.rightAction {
  max-width: fit-content;
  margin-left: auto;
}

.button {
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  max-height: 38px;
}

@mixin variant($color) {
  color: theme('colors.#{$color}.400');
  background-color: theme('colors.#{$color}.800 / 35%');
  border-color: theme('colors.#{$color}.600 / 75%');

  .icon {
    background: theme('colors.#{$color}.600 / 20%');
    border: 1px solid theme('colors.#{$color}.600');
    box-shadow: inset 0 0 3px 0 theme('colors.#{$color}.400 / 50%');
  }

  .button:hover {
    background: theme('colors.#{$color}.600 / 20%');
  }
}

.success {
  @include variant('green');
}

.warning {
  @include variant('yellow');
}

.info {
  @include variant('blue');
}

.error {
  @include variant('red');
}

.base {
  @include variant('zinc');
}
