.sticker {
  transition: all 0.2s ease-in-out;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.03);
  }
}